.button {
  color: #FFFFFF;
  font-size: bold;
  height: 50px;
  width: 150px;
  background-color: #1EDD88;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
